.feed-main-container {
  overflow: scroll;
  height: 800px;
}
[class*="feed-sub-container"] {
  padding: 25px 0;
  margin: 0 62px;
  border-bottom: 1px solid #ccc;
  width: 1070px;
}

.feed-title-header {
  display: flex;
  align-items: center;
  overflow: visible;
  justify-content: space-between;
  
  span {
    font-size: 17px;
    font-weight: 500;
    color: black;
  }
  button {
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 16px; 
    border-radius: 2px;
  }

  button:hover {
    cursor: pointer
  }
}



.feed-sub-container-1 span {
  display: block;
  font-size: 19px;
  font-weight: 500;
  color: #000;
}

[class*="feed-sub-item-container"] {
  display: flex;
  flex-wrap: wrap;
}

// .feed-recommended {
//   width: 1070px;
//   height: 563px;
//   padding-left: 30px;
// }

.video-container {
  margin-right: 4px;
  margin-bottom: 24px;
}

// for single row panes
// width: 1070
// height: 210