.feed-main-container {
  overflow: scroll;
  height: 100vh;
}
[class*="feed-sub-container"] {
  padding: 26px 0 25px 0;
  margin: 0 62px;
  border-bottom: 1px solid #ccc;
  width: 1020px;
}

.feed-title-header {
  display: flex;
  align-items: center;
  overflow: visible;
  position: relative;
  justify-content: space-between;
  margin-bottom: 3px;
  
  span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #353535;
    margin-bottom: 15px;
  }

  button {
    background-color: red;
    color: #f5f1f1;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Roboto;
    letter-spacing: 1px;
    padding: 10px 16px; 
    border-radius: 2px;
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  button:hover {
    cursor: pointer
  }
}

.feed-sub-container-1 span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #353535;
  margin-bottom: 23px;
}

[class*="feed-sub-item-container"] {
  display: flex;
  flex-wrap: wrap;
}

.video-container {
  margin-right: 4px;
  margin-bottom: 24px;
  width: 200px;
}

.video-description {
  h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

#metadata {
  font-size: 13px;
  color: #716e6e;
  padding-top: 5px;

  span {
    font-size: 13px;
    color: #716e6e;
  }
}