#root {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .session-greeting {
  display: block;
  }

 .login-signup {
   display: inline-block;
   background: pink;
 }

 .login-form-container {
   /* margin: 0 auto;
   border: 1px solid black; */
 }