.login-form-container {
  background: white;
  border: 1px solid black;
}

.login-form-box {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

/* errors */

.login-errors {
  position: absolute;
  font-weight: bold;
  color: red;
  bottom: 141px;
  left: 46px;
}

/* errors end */

.login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.login-close-button {
  position: absolute;
  top: -87px;
  right: 16px;
  border: none;
  font-size: 29px;
}

.login-youtube-logo {
  position: absolute;
  top: 47px;
  right: 134px;
  width: 40px;
  height: 40px;
}

.login-close-button:hover {
  cursor: pointer;
  font-weight: bold;
}

.login-form-container input {
  padding: 10px;
  margin: 15px;
  margin-bottom: 0px;
  font-size: 14px;
  color: black;
  width: 250px;
  text-align: center;
}
.signup-demo-buttons {
  display: flex;
}

.submit-button {
  padding: 14px;
  margin: 13px;
  margin-top: 5px;
  width: 276px;
  color: #fff;
  font-size: 20px;
  background: #ff0000;
  border-radius: 10px;
}

.submit-button:hover {
  cursor: pointer;
  background: #ff6600;
  font-weight: bold;
}

#demo {
  font-size: 18px;
  line-height: 21px;
  padding: 0 7px;
}
