.login-form-container {
  background: white;
  border: 1px solid black;
}

.login-form-box {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* .login-image {
  background-image: image_url("youtube_central.png");
  background-size: 500px 500px;
  height: 500px;
  width: 500px;
} */

.login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.login-close-button {
  position: absolute;
  top: -87px;
  right: 16px;
  border: none;
  font-size: 29px;
}

.login-youtube-logo {
  position: absolute;
  top: 47px;
  right: 134px;
  width: 40px;
  height: 40px;
  background-image: image_url('"youtube_central.png"');
}

.login-close-button:hover {
  cursor: pointer;
  font-weight: bold;
}

.login-form-container input {
  padding: 10px;
  margin: 15px;
  margin-bottom: 0px;
  font-size: 14px;
  color: black;
  width: 250px;
  text-align: center;
}
.signup-demo-buttons {
  display: flex;
}

.submit-button {
  padding: 14px;
  margin: 13px;
  margin-top: 5px;
  width: 276px;
  color: #fff;
  font-size: 20px;
  background: #ff0000;
  border-radius: 10px;
}

.submit-button:hover {
  cursor: pointer;
  background: #ff6600;
  font-weight: bold;
}

#demo {
  font-size: 18px;
  line-height: 21px;
  padding: 0 7px;
}

/* errors */

[class*="login-errors"] {
  position: absolute;
  background: #7ac3d0;
  font-weight: bold;
  padding: 3px 30px;
  border-radius: 10px;
}

.login-errors-2 {
  right: 24px;
  bottom: -69px;
  margin-left: 31px;
}

.login-errors-1 {
  right: 47px;
  bottom: -42px;
}