.sidebar-container {
   border: 1px solid #ccc;
   border-top: none;
   background: #f9f7f7;
   width: 240px;
   height: 800px;
 }

 //first sidebar component
.sidebar-main-top {
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

 .sidebar-main-top li, a {
   list-style: none;
   text-decoration: none
 }

 .sidebar-main-top button {
   border: none;
 }

.home-icon {
  background-image: image-url("home.png");
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.trending-icon {
  background-image: image-url("trending_history.png");
  background-position: -7px -1px;
  width: 30px;
  height: 30px;
}

.history-icon {
  background-image: image-url("trending_history.png");
  background-position: -7px -42px;
  width: 30px;
  height: 30px;
}
 

//sidebar best links
.sidebar-main-best-links {
  border-bottom: 2px solid #ccc;
}

.sidebar-main-best-links li:hover {
  cursor: pointer;
  // background: black;
  border: 1px solid black;
 
}

[class*="yt-best-"] {
  border: none;
  height: 40px;
  width: 40px;
  display: inline-block;
  background-image: image-url("bestof_youtube.png");
}

.yt-best-music {
  background-position: 0px -1px;
}

.yt-best-sports {
  background-position: 0px -40px;
}

.yt-best-gaming {
  background-position: 0px -80px;
}

.yt-best-movies {
  background-position: 0px -120px;
}

.yt-best-tvshows {
  background-position: 0px -160px;
}

.yt-best-news {
  background-position: 0px -200px;
}

.yt-best-live {
  background-position: 0px -240px;
}

.yt-best-spotlight {
  background-position: 0px -280px;
}

.yt-best-360 {
  background-position: 0px -320px;
}

