.sidebar-container {
   border: 1px solid #ccc;
   border-top: none;
   background: #f9f7f7;
   width: 240px;
   height: 800px;
   overflow: scroll;
 }

 //first sidebar component
.sidebar-main-top {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.sidebar-ul-links a {
  display: flex;
  align-items: center;
  padding: 2px 0;
  font-size: 14px;
}

.sidebar-main-top li, a {
  list-style: none;
  text-decoration: none
}

.sidebar-main-top span {
  display: inline-block;
  margin-left: 19px;
}

[class*="core-links-"] {
  margin-left: 10px;
}

.core-links-home-icon {
  display: inline-block;
  background-image: image-url("home.png");
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.core-links-trending-icon {
  display: inline-block;
  background-image: image-url("trending_and_history.png");
  background-position: -7px -1px;
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

.core-links-history-icon {
  display: inline-block;
  background-image: image-url("trending_and_history.png");
  background-position: -7px -42px;
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
 

//sidebar best links

.sidebar-main-best-links {
  border-bottom: 1px solid #ccc;
  padding-top: 5px;
}

#guide-section-best-of {
  display: block;
  padding: 8px 24px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #11111199;
}

.sidebar-main-best-links li:hover {
  cursor: pointer;
}

.sidebar-main-best-links span {
  margin-left: 24px; 
  font-size: 14px;
}

[class*="yt-best-"] {
  border: none;
  height: 40px;
  width: 40px;
  display: inline-block;
  background-image: image-url("bestof_youtube.png");
  padding: 9px;
  margin-left: 12px;
}

.yt-best-music {
  background-position: 0px -1px;
}

.yt-best-sports {
  background-position: 0px -40px;
}

.yt-best-gaming {
  background-position: 0px -80px;
}

.yt-best-movies {
  background-position: 0px -120px;
}

.yt-best-tvshows {
  background-position: 0px -160px;
}

.yt-best-news {
  background-position: 0px -200px;
}

.yt-best-live {
  background-position: 0px -240px;
}

.yt-best-spotlight {
  background-position: 0px -280px;
}

.yt-best-360 {
  background-position: 0px -320px;
}

//sidebar browse section
///////////////////////////////

.sidebar-browse {
  border-bottom: 1px solid #ccc;
  line-height: 10px;
  padding: 10px 0;
}

.sidebar-browse a {
  display: flex;
  align-items: center;
  box-sizing: border-width;
  padding: 0 18px;
}

.sidebar-browse-icon {
  display: inline-block;
  background-image: image-url("browse.png");
  background-size: 30px 30px;
  margin: 0;
  height: 30px;
  width: 30px;
}

.sidebar-browse p {
  margin-left: 30px;
  color: black;
}
 
//sidebar signin section
//////////////////////////////

.sidebar-signin-container {
  border-bottom: 2px solid #ccc;
  padding: 24px;
}

.sidebar-signin-container button {
  margin-top: 10px;
  border: none;
  padding-left: none;
  background-color: inherit;
}


//sidebar additional features
//////////////////////////////

.sidebar-additional-features {
  border-bottom: 1px solid #ccc;
  padding: 5px 0 12px;
  color: black;
}

#additional-features-header {
  display: block;
  padding: 8px 24px;
  color: #696868;
}

#items-yt-more a{
  display: flex;
  align-items: center;
}

#items-yt-more i {
  margin-left: 10px;
  margin-bottom: 10px;
}

#items-yt-more span {
  padding-top: 10px;
  margin-left: 17px;
  color: black;
}

[class*="additional-features-"] {
  display: inline-block;
  background-image: image_url("play_and_radio.png");
  background-size: 45px;
  height: 30px;
  width: 40px;
}

.additional-features-premium {
  background-position: 0px 2px;
}

.additional-features-live {
  background-position: 0px 39px;
}

//sidebar settings
//////////////////////////////

.sidebar-settings {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.sidebar-settings a {
  display: flex;
  align-items: center;
}

.sidebar-settings i {
  margin-left: 10px;
}

.sidebar-settings span {
  padding-top: 10px;
  margin-left: 10px;
  color: black;
}

[class*="yt-settings-"] {
  display: inline-block;
  background-image: image_url("settings.png");
  background-size: 45px;
  height: 45px;
  width: 45px;
}

.yt-settings-settings {
  background-position: 0 11px;
}

.yt-settings-report-history {
  background-position: 0 -28px;
}

.yt-settings-help {
  background-position: 0 -60px;
}

.yt-settings-feedback {
  background-position: 0 45px;
}



//sidebar footer
//////////////////////////////
.sidebar-footer-links-container {
  margin: 10px auto;
  width: 200px;
  line-height: 11px;
}

.sidebar-footer-links-container a {
  padding: 5px;
  font-weight: 500;
  color: #847f7f;
}

#guidelinks-primary {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

// #guidelinks-primary a {
//   padding: 5px;
// }

#guidelinks-secondary {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

// #guidelinks-secondary a {
//   padding: 5px;
// }

#copy-streamit {
  padding: 5px;
  margin-top: 36px;
  color: #11111199;
}